[submodule "cadical"]
	path = cadical
	url = git@github.com:arminbiere/cadical.git
[submodule "abc"]
	path = abc
	url = git@github.com:berkeley-abc/abc.git
[submodule "CLI11"]
	path = CLI11
	url = https://github.com/CLIUtils/CLI11.git
